# Игнорировать SSH-ключи и приватные файлы
*.pem
*.key
*.pub
.ssh/

# Игнорировать виртуальные окружения Python
venv/

# Игнорировать файлы macOS
.DS_Store

# Игнорировать временные файлы редакторов
*.swp
*.swo
*~

# Игнорировать директории сборки
/site/
